<div class="ibox-content">
  <%== tabs(@tab_index) do |t| %>
      <%= t.tab('基本信息') do %>
          <%= render "form", :aae_financial_statement => aae_financial_statement, :f => f %>
      <% end %>
      <%= t.tab('资产负债表') do %>
          <%= render :partial => 'balance', :locals => {:aae_financial_statement => aae_financial_statement, :f => f} %>
      <% end %>
      <%= t.tab('利润表') do %>
          <%= render :partial => 'profit', :locals => {:aae_financial_statement => aae_financial_statement, :f => f} %>
      <% end %>
      <%= t.tab('现金流量表') do %>
          <%= render :partial => 'cash_flow', :locals => {:aae_financial_statement => aae_financial_statement, :f => f} %>
      <% end %>
  <% end %>
</div>