<%= javascript_include_tag "lazy_high_charts/highcharts", "lazy_high_charts/exporting", "lazy_high_charts/highcharts-more" %>
<%= hidden_field_tag(:year,params[:year]) %>
<%= hidden_field_tag(:month,params[:month]) %>
<%= hidden_field_tag(:ent_id,params[:ent_id]) %>

<div class="row">
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line:@attr1, name:@name1)%>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line:@speed1, name:@name11)%>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line:@attr2, name:@name2)%>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line:@speed2, name:@name12)%>
      </div>
    </div>
  </div>
</div>